{% extends 'template.html' %}
{% block content %}
<div class="developer-box">
    <div class="developer-card">
        <legend>The Developer</legend>
            <h3>{{ translation[lang]["developer"] | safe }}</h3>
            {% if lang == "english" %}
                <a href="{{ url_for('developer', lang='swedish') }}">
                    <button class="btn btn-primary w-100">Change to Swedish</button>
                </a>
            {% else %}
                <a href="{{ url_for('developer', lang='english') }}">
                    <button class="btn btn-primary w-100">Change to English</button>
                </a>
            {% endif %}
    </div>
</div>
{% endblock %}

