{% extends 'template.html' %}
{% block content %}

<div class="login-box">
  <div class="login-card">

    <p class="helper">
      Don’t have an account? <a href="{{ url_for('register') }}">Register</a>
    </p>

    <form class="login_form" action="{{ url_for('login') }}" method="POST" novalidate>
      {{ form.hidden_tag() }}

      <legend>Login</legend>

      <div class="form-group">
        {{ form.email.label }}
        {{ form.email(class="form-control", placeholder="you@example.com", autofocus=true) }}
      </div>

      <div class="form-group">
        {{ form.password.label }}
        {{ form.password(class="form-control") }}
      </div>

      <div class="form-group">
        {{ form.submit(class="btn btn-primary w-100", value="Log In") }}
      </div>
    </form>

  </div>
</div>

{% endblock %}
